<main class="main py-5">
  <div class="container">
    <div class="row">
      <div class="col-6 mx-auto col-md-6">
        <img
          width="512"
          height="512"
          src="https://via.placeholder.com/512x512.png/09f/fff"
          alt="logo"
          class="img-fluid mb-3 mb-md-0"
        />
      </div>
      <div class="col-md-6 text-center text-md-left">
        <h1>Searchable PPP Loan Data</h1>
        <!-- <h3 class="text-secondary">
          2020 Paycheck Protection Program
        </h3> -->
        <p class="lead">
          Data for the 2020 Paycheck Protection Program has been made available.
          For all loans over $150,000 the details of the company recieving the
          loan are searchable here. Click on any company name for details of the
          loan and any other loans by the company.
        </p>
        <div class="d-flex flex-column flex-md-row mb-3">
          <!-- <form
              [formGroup]="emailForm"
              (ngSubmit)="handleSubmit(emailForm.value, emailForm.valid)"
              novalidate
            >
              <div class="form-group">
                <label class="text-secondary" for="email-message"
                  >Sign up to recieve a token</label
                >
                <input
                  [ngClass]="{ 'is-invalid': submitted }"
                  placeholder="email"
                  formControlName="email"
                  type="email"
                  class="form-control email-input"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                />
                <small id="emailHelp" class="form-text text-muted"
                  >Your email is safe with us :D</small
                >
              </div>
              <button class="btn depthButton">
                Get API <fa-icon [icon]="faKey" class="key"></fa-icon>
              </button>
            </form> -->
        </div>
        <p class="text-muted mb-3">Currently at v1.0.0</p>
        <!-- <div class="social-media">
            <div class="social-media-item">
              <a
                class="black"
                href="https://github.com/zomdar/kief-scraper-api"
                target="_blank"
              >
                <fa-icon [icon]="faGithub" size="lg"></fa-icon>
              </a>
            </div>
            <div class="social-media-item">
              <a
                class="light-blue"
                href="https://twitter.com/zomdar"
                target="_blank"
              >
                <fa-icon [icon]="faTwitter" size="lg"></fa-icon>
              </a>
            </div>
            <div class="social-media-item">
              <a
                class="forest-green"
                href="https://weed-tree.web.app/"
                target="_blank"
              >
                <fa-icon [icon]="faCannabis" size="lg"></fa-icon>
              </a>
            </div>
          </div> -->
      </div>
    </div>
  </div>
</main>
